/*--inicio.html--*/

/*--google fonts - poppins--*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*-colors */
:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #452759;
  --primary-color-light: #f6f5ff;
  --toggle-color: #dddd;
  --text-color: #707070;

  /*---transition---*/
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  font-family: 'Poppins';
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-05);
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/*--css reusable--*/
.sidebar .text {
  font-size: 15px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-03);
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar .image {
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--sidebar--*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(var(--tran-02));
}

.sidebar header {
  position: relative;
}

.sidebar .image-text img {
  width: 60%;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-size: 20px;
  font-weight: 600;
}

.header-text .proyecto {
  margin-top: -2px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
  transition: var(--tran-03);
}

.sidebar.close header .toggle {
  transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
  transform: rotate(180deg);
  color: var(--text-color);
}

.sidebar .menu {
  margin-top: 35px;
}

.sidebar search-box {
  background: var(--primary-color-light);
  border-radius: 6px;
  transition: var(--tran-05);
}

.sidebar li a {
  text-decoration: none;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  border-radius: 6px;
  transition: var(--tran-04);
}

.search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color-light);
}

.sidebar li a:hover {
  background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}

.menu-bar .mode {
  position: relative;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.menu-bar .mode i {
  position: absolute;
  transition: var(--tran-03);
}

.menu-bar .mode i.sun {
  opacity: 0;
}

body.dark .menu-bar .mode i.sun {
  opacity: 1;
}

body.dark .menu-bar .mode i.moon {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 6px;
  background: var(--primary-color-light);
  transition: var(--tran-05);
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--toggle-color);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-03);
}

body.dark .switch::before {
  left: 24px;
}

.home {
  font-family: 'Poppins';
  position: relative;
  left: 250px;
  height: 100vh;
  width: calc(100% - 88px);
  background: var(--body-color);
  transition: var(--tran-05);
}

.home .text {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  padding: 8px 40px;
}

.sidebar.close~.home {
  left: 88px;
  height: 100vh;
  width: calc(100% - 88px);
}

/*===css para imagen en perfil*/
.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover,
.drop-container.drag-active {
  border-color: rgb(160, 159, 159);
}

.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
  color: var(--text-color);
}

.drop-title {
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}


input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

.initial-hide {
  display: none;
}
/*----------------------------------------------------------------

/*--footer--*/
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* =================================================================*/
.start-screen button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.start-screen button:hover {
  background-color: #45a049;
}

/*--Quizzes --------------------------------*/
.quiz-section {
  position: relative;
  /*left: -50%;*/
  left: -50%;
  width: 100%;
  background: #452759;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: .8s ease-in-out;
  transition-delay: .25s;
}

.quiz-section.active{
  left: 0;
}

.quiz-section .quiz-box {
  position: relative;
  width: 100%;
  background: transparent;
  border: 2px solid #D94389;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  opacity: 0;
  pointer-events: none;
  transform: scale(.9);

}

.quiz-section .quiz-box.active{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition-delay: 1s;
}

.quiz-box h1 {
  font-size: 32px;
  text-align: center;
  background: linear-gradient(45deg, transparent, #F2600C, transparent);
  border-radius: 6px;
}

.quiz-box .quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-radius: 2px solid #D94389;
  margin-top: 30px;
}

.quiz-header span {
  font-size: 18px;
  font-weight: 500;
}

.quiz-header .header-score {
  background: #D94389;
  border-radius: 3px;
  padding: 7px;
}

.quiz-box .question-text {
  font-size: 24px;
  font-weight: 600;
}

.option-list .option {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0;
  cursor: pointer;
}

.option-list .option:hover{
  background: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.quiz-box .quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #D94389;
  padding-top: 20px;
  margin-top: 25px;
}

.quiz-footer .question-total{
  font-size: 16px;
  font-weight: 600;
}

.quiz-footer .next-btn{
  width: 100%;
  height: 45px;
  background: rgba(255, 255, 255, .1);
  border: 2px;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: rgba(255, 255, 255, .3);
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
}

.quiz-footer .next-btn:hover{
  background: #950170;
  border-color: #950170;
}


/*--Isaac
.avemaria {
  font-size: 20px;
  outline: none;
  text-decoration: none;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: rgb(255, 255, 255);
}

a:focus {
  border-bottom: 1px solid;
  background: #ffffff;
}

a:hover {
  border-bottom: 1px solid;
  background: #878787;
}

a:active {
  background: #ffffff;
  color: #ffffff;
}


.start-screen {
  text-align: center;
}

.start-screen h1 {
  color: #333;
}

.start-screen label {
  display: block;
  margin-top: 10px;
}

.start-screen input,
.start-screen select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
}


.quiz {
  text-align: center;
}

.question-number {
  font-size: 18px;
  margin-bottom: 10px;
}

.question {
  font-size: 20px;
  margin-bottom: 20px;
}

.answer {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.answer:hover {
  background-color: #45a049;
}

.answers {
  margin-bottom: 20px;
}

.progress-bar-wrapper {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 1s linear;
}

.progress-text {
  font-size: 14px;
  color: #555;
}

.hide {
  display: none;
}

*--/