{% extends "inicio.html" %} {% block title %} Buscar {% endblock %} {% block
home %}
<div class="home">
  <br /><br />
  <h1>Buscar quiz</h1>
  <h5>Busca quizzez previamente creados :]</h5>
  <br /><br />
  <label for="category">Categoría:</label>
  <input type="text" id="category" placeholder="Ingresa la categoría" />
  <label for="difficulty">Dificultad:</label>
  <select id="difficulty" class="">
    <option value="Principiante">Principiante</option>
    <option value="Amateur">Amateur</option>
    <option value="Intermedio">Intermedio</option>
    <option value="Avanzado">Avanzado</option>
    <option value="Experto">Experto</option>
  </select>
  <button id="start">Buscar</button>
</div>

{% endblock %}
