{% extends "inicio.html" %} {% block title %} Index {% endblock %} {% block home
%} 
<!-- 
    <form action="{{ url_for('create_quizz')}}" method="post" enctype="multipart/form-data">
        <dl>
            <p>
                <input autocomplete="off" class="form-control" name="file" type="file">
            </p>
        </dl>
        <p>
            <input type="submit" value="submit" class="btn btn-info">
        </p>
    </form> -->
<form action="" method="post">
  <select id="difficulty">
    {% for i in Dificultad %}
    <option value="{{i}}">{{i}}</option>
    {% endfor %}
  </select>
</form>


<form action="{{ url_for('create_quizz')}}" method="post">
  <div class="form-r">
    <br /><br />
    <h3>Ingresa el nombre del Quizz</h3>
    <br />
    <label for="Nombre">Nombre:</label>
    <input autocomplete="off" autofocus class="search-box" name="Nombre" placeholder="Nombre" type="text" />
    <label for="Descripcion">Descripcion:</label>
    <input type="text" autocomplete="off" class="search-box" name="Descripcion" placeholder="Descripcion" />

    <label for="Categoria">Categoría:</label>

    <select name="Categoria" id="Categoria">
      <option value="Psicometria">Psicometria</option>
      <option value="Logica">Logica</option>
      <option value="Matematica">Matematica</option>
      <option value="Cultura General">Cultura General</option>
      <option value="Programacion">Programacion</option>
    </select>

    <label for="Dificultad">Dificultad:</label>

    <select name="Dificultad" id="Dificultad">
      <option value="Principiante">Principiante</option>
      <option value="Iniciado">Iniciado</option>
      <option value="Intermedio">Intermedio</option>
      <option value="Avanzado">Avanzado</option>
      <option value="Experto">Experto</option>
    </select>
    <br /><br />
    <button class="btn btn-primary" type="submit">Confirmar</button>
  </div>
</form>


{% endblock %}