{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}
    
{% block main %}


<div class="container">
    <div class="start-screen">
        <h1>Welcome to Matheno</h1>
        <p>Learn Psychometrics with our quizzes</p>

        <label for="category">Category:</label>
        <input type="text" id="category" placeholder="Enter category">
        <label for="difficulty">Dificultad:</label>
        <select id="difficulty">
            <option value="Principiante">Principiante</option>
            <option value="Amateur">Amateur</option>
            <option value="Intermedio">Intermedio</option>
            <option value="Avanzado">Avanzado</option>
            <option value="Experto">Experto</option>
        </select>
        <button id="start">Search a quizz</button>
    </div>

    <div id="quiz" class="quiz hide">
        <div id="question-number" class="question-number"></div>
        <div id="question" class="question"></div>
        <div class="answers"></div>
        <div class="progress-bar-wrapper">
            <div class="progress-bar"></div>
        </div>
        <div class="progress-text">Time Remaining</div>
    </div>
</div>

<script src="script.js"></script>
{% endblock %}