<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>MATHENO {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="/static/js/scripts.js"></script>
</head>
    <body>
        <header>
            <nav class="navbar">
                {% if session["user_id"] %}
                <ul class="menu">
                    <li class="menu__opc"><a href="#"> Perfil</a></li>
                    <li class="menu__opc"><a href="#"> + </a></li>
                </ul>
                {% else %}
                <ul class="menu">
                    <li class="menu__opc"><a href="#">Login</a></li>
                    <li class="menu__opc"><a href="#">Registarse</a></li>
                </ul>
            </nav>
        </header>
                {% endif %}
        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>

        <footer>
            <p>Matheno - © 2023</p>
        </footer>

    </body>
</html>
