{% extends "inicio.html" %}

{% block title %}
    Index
{% endblock %}
    
{% block home %}

  <div>
        {% for i in r%}

            <h1> {{i['Quizz']}}</h1>
            <div>
                <p>{{i['Descripcion']}}</p>
            </div>
            <div>
                <span> Categoria: {{i['Categoria']}}</span>
                <br>
                <span> Dificultad: {{i['Dificultad']}}</span>
            </div>

        {% endfor %}

        <button id="start">
            <a href="/repro" >
                <p>
                    play quizz
                </p>
            </a>
        </button>
    </div>

{% endblock %}